{% extends "layout-page.html" %}

{% block content %}
<h2>Bienvenue sur le système de réplication Heimdall.</h2>
<div style="width:100%">
<div style="float:left;display: block; margin-right:20px; width:50%;">
<h3>Demandes en attentes: </h3>


	  <table class="rounded-corner" width="100%">
      	<thead>
      	<tr>
      	<th>date</th>
      	<th>Utilisateur</th>
      	<th>Serveur</th>
      	<th>Connection avec utilisateur</th>
      	<th>Commentaires</th>
      </tr>
      </thead>
      {%for demand in demands%}
      <tr>
      	<td>{{demand.cdate}}</td>
      	<td>{{demand.user.username}}</td>
      	<td>{{demand.server.hostname}}</td>
      	<td>{{demand.hostuser}}</td>
      	<td>{{demand.comments}}</td>
      </tr>
      {% endfor %}
      </table>
</div>



<div style="display: block; float:left; margin-right:5px; width:40%;">
<h3>Statistiques: </h3>

	  <table class="rounded-corner"  width="100% ">
      	<thead>
      	<tr>
      	<th>Statistique</th>
      	<th>Valeur</th>
      </tr>
      </thead>
        <tr>
        	<td>Nombre d'utilisateur enregistrés</td>
        	<td>{{stats.user_count}}</td>
        </tr>
        
        <tr>
        	<td>Nombre de serveurs enregistrés</td>
        	<td>{{stats.server_count}}</td>
        </tr>
        
        
        <tr>
        	<td>Nombre de demandes en attente</td>
        	<td>{{stats.demands_count}}</td>
        </tr>
        
        
        <tr>
        	<td>Nombre de permissions accordées</td>
        	<td>{{stats.permissions_count}}</td>
        </tr>
        
         <tr>
        	<td>Nombre de clés gérées</td>
        	<td>{{stats.keys_count}}</td>
        </tr>
      </table>

</div>
</div>
{% endblock %}
