{% extends "layout-page.html" %}

 {% block import %}
  <script type="text/javascript">

(function($){
  $(document).ready(function(){
   var sys = arbor.ParticleSystem(2600, 512,0.5);
   sys.parameters({gravity:true});
    sys.renderer = Renderer("#viewport") ;
    
    // central repository
    var heimdall = sys.addNode('Heimdall',{'color':'red','shape':'dot','label':'Heimdall'});
     
    
    
    {% for permission in permissions %}
    	var serverName = '{{permission.server.hostname}}';
    	var server = sys.addNode(serverName,{'color':'blue','shape':'dot','label':serverName});
    	sys.addEdge(heimdall, server);
    	
    	{% if permission.user.username == user.username %}
    		var color = "green";
    	{%else%}
    		var color = "orange";
    	{% endif %}
    	var userName = '{{permission.user.username}}';	
    	var user = sys.addNode(userName,{'color':color,'label':userName});
    	sys.addEdge(user,server);
    
    {% endfor %}
  })

})(this.jQuery)
  
  </script>
  
 {% endblock %}
 
 	{% block content %}
 	
 	<h2 style="position:absolute;">Permissions on heimdall</h2>
 	<!--<div style="margin:auto; width:800px; border: 1px solid #cacaca;">-->
 	  <canvas id="viewport" width="800" height="650" style="overflow:hidden;"></canvas>
 	<!--</div>-->
 	{% endblock %}
