{% extends "layout-page.html" %}
 	{% block content %}
      
        <h2>Liste des utilisateurs enregistrés sur Heimdall</h2>
        
        
      <table id="rounded-corner">
      	<thead>
      	<tr>
      	<th>Username</th>
      	<th>Firstname</th>
      	<th>LastName</th>
      </tr>
      </thead>
        {% for user in list_users %}
        <tr>
        	<td>{{ user.username }}</td>
        	<td>{{ user.firstname }}</td>
        	<td>{{ user.lastname }}</td>
        </tr>
      {% endfor %}
      </table>
        
      <!-- End of Content -->
      
      {% if user.is_authenticated %}
      	
      	
      	{% for group in user.groups.all %}
      		{% if group.name == 'heimdall-admin' %}
      			
      			<div>
      			<div>
      				<h2>Ajouter un utilisateur</h2>
      			</div>
      			</div>
      			
      		{% endif %}
      	{% endfor %}
      	
      		
      {%endif%}
      
 	{% endblock %}
