{% extends "layout-page.html" %}
 	{% block content %}
 	
 	{% if not user.is_authenticated %}
 		<h2>Vous devez etre connecté pour voir cette page</h2>
 	{% else %}
 	
 	<section>
		<div class="inline-block">
			<h2>Upload your key</h2>
			<div class="form default-block">		
				<form action="deposite" method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    <input type="hidden" name="type" value="upload"/>
				    <p>{{ form.non_field_errors }}</p>
				    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
				    <p>
					{{ form.docfile.errors }}
					{{ form.docfile }}
				    </p>
				    <p><button class="next" type="submit">Upload</button></p>
				</form>
			</div>
		</div>
		</section>
		{% if key != None %}
		<section>
			<div class="inline-block">
				<h2>Or update it</h2>
				<div class="form default-block">
					<form style="padding: 10px;" action="deposite" method="post" enctype="multipart/form-data">
					    {% csrf_token %}
						<input type="hidden" name="type" value="update"/>
						<textarea style="width:90%; height:150px;" name="key" >{{key}}</textarea>
					    <p><button class="save" type="submit">Update</button></p>
					</form>
				</div>
			</div>
			</section>
		{% endif %}
	{%endif%}
{% endblock %}
