{% extends "layout-page.html" %} 

{% block import %} 
	{% if user.is_authenticated %}
		<script type="text/javascript">
		(function($) {
		    $(document).ready(function() {
		    
		    	Permissions.data = ['Heimdall', {% for permission in permissions %}'{{permission.server.hostname}}','{{permission.hostuser}} - {{permission.server.hostname}}',{%endfor%}]

				Permissions.central = ['Heimdall']
		    	Permissions.server = []
		    	Permissions.hostuser = []
		    	Permissions.user = []

		        {% if permissions.count == 0 %}
		        	var sys = arbor.ParticleSystem(0, 512, 0.5); 
		        {% else %}
		        	var sys = arbor.ParticleSystem(512, 512, 0.5); 
		        {% endif %}

		        sys.parameters({stiffness:900, repulsion:2000, gravity:true, dt:0.015})
		        sys.renderer = Renderer("#viewport");

		        // central repository
		        var heimdall = sys.addNode('Heimdall', {
		            'color': '#D51B47',
		            'shape': 'dot',
		            'label': 'Heimdall',
		            'alpha' : 1,
		            'type' : 'central'

		        });

		        {% for permission in permissions %}
			        var serverName = '{{permission.server.hostname}}';
			        var server = sys.addNode(serverName, {
			            'color': '#5FADC5',
			            'type' : 'server',
			            'alpha' : 0,
			            'label': serverName
			        });
			        Permissions.server.push(serverName)

			        var hostTarget = '{{permission.hostuser}}'
			        var hostTargetNode = sys.addNode(hostTarget + ' - ' + serverName, {
			            'color': '#C67EFF',
			            'type' : 'hostuser',
			            'alpha' : 0,
			            'label': hostTarget + ' - ' + serverName
			        });
			        Permissions.hostuser.push(hostTarget + ' - ' + serverName)

		        {% if permission.user.username == user.username %}
		        	var color = "#E79732"; 
		        {% else %}
		        	var color = "#A5C94B"; 
		        {% endif %}

		        var userName = '{{permission.user.username}}';
		        var user = sys.addNode(userName, {
		            'color': color,
		            'type' : 'user',
		            'label': userName,
		            'alpha' : 0
		        });
		        Permissions.user.push(userName)

		        sys.addEdge(hostTargetNode, user);
		        sys.addEdge(server, hostTargetNode);
		        sys.addEdge(heimdall, server);

		        {% endfor %}
		    })
		})(this.jQuery)
		</script>
	{%endif%} 
{% endblock %} 
{% block content %}

	{% if user.is_authenticated%}
		<h2 style="position:absolute">Permissions on heimdall</h2>
		<canvas style="position:absolute; top: 99px; overflow: hidden;" id="viewport" style="overflow: hidden;"></canvas>
	{% else %}
		<h2>Vous devez etre connecté pour voir cette page</h2>
	{%endif%}

	<section class="legend-permission">
	    <div>
	        <table>
	            <tbody>
	                <tr>
	                    <td>Heimdall central repository</td>
	                    <td>
	                        <span class="legend-block" style="background-color: #D51B47;"></span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>Server</td>
	                    <td>
	                        <span class="legend-block" style="background-color: #5FADC5;"></span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>You</td>
	                    <td>
	                        <span class="legend-block" style="background-color: #E79732;"></span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>Other users</td>
	                    <td>
	                        <span class="legend-block" style="background-color: #A5C94B;"></span>
	                    </td>
	                </tr>
	                <tr>
	                    <td>Connection user</td>
	                    <td>
	                        <span class="legend-block" style="background-color: #C67EFF;"></span>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</section>
{% endblock %}
