{% extends "layout-page.html" %} 
{% block import %}
<script type="text/javascript">
	$(document).ready(function(){
		$( "input[type=checkbox]" ).change(function() {
			var $input = $( this );
			$input.attr('value' , ""+$input.is( ":checked" ));
			$("input[name='"+$input.attr('id')+"'").attr('value', ""+$input.is( ":checked" ));
		});
	});
</script>

{% endblock %}

{% block content %} 
{% load tags %} 

{% if user.is_authenticated %} 

{% ifusergroup heimdall-admin %}
<section>
	<div class="inline-block">
		<h2>Server configuration</h2>
		<div class="form default-block">		
			<form action="/heimdall/admin/app_config_save" method="post" accept-charset="utf-8">
				{% csrf_token %}
				<input type="hidden" name="type" value="global"/>
				
				<h3>Apparence</h3>
				<table class="bordered">
					<thead>
						<tr>
							<th>Property</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label for="theme">Theme</label></td>
							<td>
								<span class="select">
									<select name="theme">
										<option value="default" {% if default_theme == "default" %} selected {%endif%}>Default</option>
										<option value="clean" {% if default_theme == "clean" %} selected {%endif%}>Clean</option>
									</select>
								</span>
							</td>
						</tr>
						<tr>
							<td><label>Language </label><span style="color: rgb(209, 101, 102);">(Not yet translated!)</span></td>
							<td>
								<span class="select">
									<select name="default_language" style="color: rgb(160, 160, 160);">
										<option>Français</option>
										<option>English</option>
									</select>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<h3>System</h3>
				<table class="bordered">
					<thead>
						<tr>
							<th>Property</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2" class="subtitle">Notifications: {{admin_notification}}</td>
						</tr>

						<tr>
							<td><label for="admin_notification">Send notifications to admin</label></td>
							<td>
								<input type="checkbox" id="admin_notification" value="{{admin_notification}}" {%if admin_notification == "true"%} checked {%endif%}/>
								<input type="hidden" name="admin_notification" value="{{admin_notification}}"/>
							</td>
						</tr>
						<tr>
							<td><label>Send notifications to user</label></td>
							<td><input type="checkbox" id="user_notification" {%if user_notification == "true" %} checked {%endif%}/>
							<input type="hidden" name="user_notification" value="{{user_notification}}"/></td>
						</tr>
						<tr>
							<td colspan="2" class="subtitle">Mail server configuration</td>
						</tr>
						<tr>
							<td><label for="mail_server_hostname">Mail server</label></td>
							<td><input name="mail_server_hostname" type="text" value="{{mail_server_hostname}}"/></td>
						</tr>
						<tr>
							<td><label for="mail_system_user_account">System user account mail</label></td>
							<td><input name="mail_system_user_account" type="text" value="{{mail_system_user_account}}"/></td>
						</tr>
						<tr>
							<td colspan="2" class="subtitle">SSH server configuration</td>
						</tr>
						<tr>
							<td><label for="forbidden_users">Users forbidden</label></td>
							<td><textarea name="forbidden_users" style="margin: 2px; height: 80px; width: 498px;">{{forbidden_users}}</textarea></td>
						</tr>
						<tr>
							<td><label>Refresh all useruser stored in database</label></td>
							<td>
								<a class="star button" href="/heimdall/admin/refresh_servers_hostuser">Refresh</a>
							</td>
						</tr>
					</tbody>
				</table>

				<p>
					<button class="save" type="submit">Save</button>
				</p>
			</form>
		</div>
	</div>
</section>
{% endifusergroup %}

<section>
	<div class="inline-block">
		<h2>User configuration</h2>
		<div class="form default-block">		
			<form action="/heimdall/admin/app_config_save" method="post" accept-charset="utf-8">

				<table class="bordered">
					{% csrf_token %}
					<thead>
						<tr>
							<th>Property</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><label for="theme">Theme</label></td>
							<td>
								<span class="select">
									<select name="theme">
										<option value="default" {% if theme == "default" %} selected {%endif%}>Default</option>
										<option value="clean" {% if theme == "clean" %} selected {%endif%}>Clean</option>
									</select>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
				<p>
					<button class="save" type="submit">Save</button>
				</p>
			</form>
		</div>
	</div>
</section>
{% endif %} {% endblock %}