{% extends "layout-page.html" %} {% block content %} {% load tags %}
<section>
<div class="inline-block" style="width:100%">
	<h2>Grant acces group to:</h2>
	<div class="align-form" style="width:100%">
		<table class="datagrid bordered" style="width:100%">
			<thead>
				<tr>
					<th>User</th>
					<th>Group</th>
					<th>Pool</th>
				</tr>
			</thead>

			<tbody>
				{% for usertarget in users %}
				<tr>
					<td>{{ usertarget }}</td>
					<td>
					
					{% ifusergroup heimdall-admin %}
					<!-- Interface admin -->	
						{% for agroup in usertarget.groups.all%} 
							{{agroup.name}}
							<a href="/heimdall/admin/manage_user_group?groupname={{agroup.name}}">(manage)</a> 
						{% endfor %}
					
						<form action="/heimdall/admin/manage_group" method="post" accept-charset="utf-8">
							{% csrf_token%} 
							<input type="hidden" name="type" value="add" />
							<input type="hidden" name="username" value="{{ usertarget }}" />
							<span class="select">
								<select name="groupname">
									{% for role in groups %}
										{% ifisa usertarget role.name %}
										
										{% else %}
											<option>{{role.name}}</option>
										{% endifisa %}
									{% endfor %}
								</select>
							</span>
								
							<button class="add" type="submit">Add to group</button>
						</form>
					<!-- Interface manager -->	
					{% else %}
						{% for agroup in usertarget.groups.all%} 
							{{agroup.name}} 
						{% endfor %}
					{% endifusergroup %}
					</td>
					<td>
						<form action="/heimdall/admin/add_to_group" method="post" accept-charset="utf-8">
							{% csrf_token%} 
							<input type="hidden" name="username" value="{{ usertarget }}" />
							{% for arole in userRoles%} 
								{% ifequal arole.user.username usertarget.username %}
									{{arole.pool.name}} 
									<a href="manage_user_role?poolname={{arole.pool.name}}">
										{% ifusergroup heimdall-admin %}
											(manage)
										{%else%}
											{% ifpoolandtype {{arole.pool.name}} MANAGER %}
												(manage)
											{% else %}
												(view)
											{% endifpoolandtype %}
										{%endifusergroup%}</a>
								{% endifequal %} 
							{% endfor %}
							<br/>
							<span class="select">
								<select name="poolname">
									{% for arole in roles%}
										{% ifhasrole usertarget arole.name %}
										{% else %}
											{% ifusergroup heimdall-admin %}
												<option>{{arole.name}}</option>
											{%else%}
												{% ifpoolandtype {{arole.name}} MANAGER %}
													<option>{{arole.name}}</option>
												{% endifpoolandtype %}
											{% endifusergroup %}
										{% endifhasrole %}
									{% endfor %}
								</select>
							</span>
							
							<button class="add" type="submit">Add to pool</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
						<td>
							<form action="/heimdall/admin/add_to_group" method="post" accept-charset="utf-8">
								{% csrf_token%}
							<span class="select">
								<select name="username"> 
									{% for usertarget in users %}
										<option>{{usertarget.username}}</option>
									{% endfor %}
								</select>
							</span>


							<span class="select">
								<select name="poolname">
									{% for role in roles %}
										{% ifusergroup heimdall-admin %}
											<option>{{role.name}}</option>
										{% else %}
											{% ifpoolandtype {{role.name}} MANAGER %}
												<option>{{role.name}}</option>
											{% endifpoolandtype %}
										{% endifusergroup %}
									{% endfor %}
								</select>
							</span>
							{% if user.is_authenticated %} 
								<button class="add" type="submit">Add to pool</button>
							{% endif %}
						</form>
						</td>
						<td></td>
						<td></td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
</section>
{% ifusergroup heimdall-admin %}
<section>
<div class="inline-block">
	<h2>Create a pool:</h2>
	<div class="form" style="width:100%">
		<form class="default-block"
			action="/heimdall/admin/add_group" method="post"
			accept-charset="utf-8" style="width:100%">
			{% csrf_token %}
			<table class="bordered" style="width:100%">
				<thead><tr><th colspan="2">Create a pool</th></tr></thead>
				<tbody>
					<tr>
						<td><label for="groupname">Group name</label></td>
						<td><input type="text" name="groupname" /></td>
					</tr>
					<tr>
						<td colspan="2"><button class="add" type="submit">Create</button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
</section>

<section>
<div class="inline-block">
	<h2>Modify the role perimeter:</h2>
	<div class="align-form" style="width:100%">

		<table class="datagrid bordered" style="width:100%">
			<thead><tr><th>Manage a pool</th><th>Action</th></tr></thead>
			<tbody>
				{% for role in roles %}
				<tr>
					<td><label for="text">{{role.name}}</label></td>
					<td>
						<form class="default-block" action="/heimdall/admin/perimeter_pool" method="get" accept-charset="utf-8">
							{% csrf_token %} 
							<input type="hidden" value="{{role.name}}" name="poolname" />
							<button class="spark" type="submit">click here for change the role perimeter</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
</section>


{% endifusergroup %} {% endblock %}
