{% extends "layout-page.html" %} {% block content %} {% load tags %}

<div class="inline-block">
	<h2>Grant acces group to:</h2>
	<div class="align-form">
		<table class="rounded-corner rounded-corner-with-footer">
			<thead>
				<tr>
					<th>User</th>
					<th>Group</th>
					<th>Role</th>
				</tr>
			</thead>

			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user }}</td>
					<td>{% for agroup in user.groups.all%} {{agroup.name}} <a
						href="/heimdall/admin/manage_user_group?groupname={{agroup.name}}">(manage)</a> {% endfor %}
					</td>
					<td>{% for arole in userRoles%} 
							{% ifequal arole.user.username user.username %} 
							{{arole.role.name}} <a href="manage_user_role?rolename={{arole.role.name}}">(manage)</a> {% endifequal %} 
						{% endfor %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<form id="form-permission" action="/heimdall/admin/add_to_group"
						method="post" accept-charset="utf-8">
						{% csrf_token%}
						<td><select name="username"> {% for user in users %}
								<option>{{user.username}}</option> {% endfor %}
						</select></td>
						<td></td>
						<td><select name="rolename"> {% for role in roles %}
								<option>{{role.name}}</option> {% endfor %}
						</select> {% if user.is_authenticated %} <input type="submit"
							value="Add role" /> {% endif %}</td>

					</form>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

{% ifusergroup heimdall-admin %}
<div class="inline-block">
	<h2>Create a group:</h2>
	<div class="form">
		<form id="form-permission-from-scratch" class="default-block"
			action="/heimdall/admin/add_group" method="post"
			accept-charset="utf-8">
			{% csrf_token %}
			<table>
				<tbody>
					<tr>
						<td><label for="groupname">Group name</label></td>
						<td><input type="text" name="groupname" /></td>
					</tr>
					<tr>
						<td><label for="grouptype">Type</label></td>
						<td><select name="grouptype">
								<option value="ADMIN">Administrateur</option>
								<option value="MANAGER">Manager</option>
								<option value="USER">Utilisateur</option>
						</select></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Create" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>


<div class="inline-block">
	<h2>Modify the role perimeter:</h2>
	<div class="form">

		<table>
			<tbody>
				{% for role in roles %}
				<tr>
					<td><label for="text">{{role.name}}</label></td>
					<td>
						<form id="form-permission-from-scratch" class="default-block"
							action="/heimdall/admin/change_perimeter_role" method="get"
							accept-charset="utf-8">
							{% csrf_token %} <input type="hidden" value="{{role.name}}"
								name="groupname" />
							<button type="submit">click here for change the role
								perimeter</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endifusergroup %} {% endblock %}