{% extends "layout-page.html" %} {% block content %} {% load tags %}

<div class="inline-block" style="width:100%">
	<h2>Grant acces group to:</h2>
	<div class="align-form" style="width:100%">
		<table class="bordered" style="width:100%">
			<thead>
				<tr>
					<th>User</th>
					<th>Group</th>
					<th>Pool</th>
				</tr>
			</thead>

			<tbody>
				{% for usertarget in users %}
				<tr>
					<td>{{ usertarget }}</td>
					<td>
					
					{% ifusergroup heimdall-admin %}
					<!-- Interface admin -->	
						{% for agroup in usertarget.groups.all%} 
							{{agroup.name}}
							<a href="/heimdall/admin/manage_user_group?groupname={{agroup.name}}">(manage)</a> 
						{% endfor %}
					
						<form action="/heimdall/admin/manage_group" method="post" accept-charset="utf-8">
							{% csrf_token%} 
							<input type="hidden" name="type" value="add" />
							<input type="hidden" name="username" value="{{ usertarget }}" />
							<select name="groupname">
								{% for role in groups %}
									{% ifisa usertarget role.name %}
										
									{% else %}
										<option>{{role.name}}</option>
									{% endifisa %}
								{% endfor %}
							</select>
								
							<input type="submit" value="→ add to group">
						</form>
					<!-- Interface manager -->	
					{% else %}
						{% for agroup in usertarget.groups.all%} 
							{{agroup.name}} 
						{% endfor %}
					{% endifusergroup %}
					</td>
					<td>
						<form action="/heimdall/admin/manage_group" method="post" accept-charset="utf-8">
							{% csrf_token%} 
							<input type="hidden" name="type" value="add" />
							<input type="hidden" name="username" value="{{ usertarget }}" />
							{% for arole in userRoles%} 
								{% ifequal arole.user.username usertarget.username %}
									{{arole.pool.name}} 
									<a href="manage_user_role?poolname={{arole.pool.name}}">
										{% ifusergroup heimdall-admin %}
											(manage)
										{%else%}
											{% ifpoolandtype {{arole.pool.name}} MANAGER %}
												(manage)
											{% else %}
												(view)
											{% endifpoolandtype %}
										{%endifusergroup%}</a>
								{% endifequal %} 
							{% endfor %}
							<br/>
							<select name="groupname">
								{% for arole in roles%}
									{% ifhasrole usertarget arole.name %}
									{% else %}
										{% ifpoolandtype {{arole.name}} MANAGER %}
											<option>{{arole.name}}</option>
										{% endifpoolandtype %}
									{% endifhasrole %}
								{% endfor %}
							</select>
							
							<input type="submit" value="→ Add to pool">
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<form action="/heimdall/admin/add_to_group"
						method="post" accept-charset="utf-8">
						{% csrf_token%}
						<td>
							<select name="username"> 
								{% for usertarget in users %}
									<option>{{usertarget.username}}</option>
								{% endfor %}
							</select>
						</td>
						<td></td>
						<td>
							<select name="poolname">
								{% for role in roles %}
									{% ifpoolandtype {{role.name}} MANAGER %}
										<option>{{role.name}}</option>
									{% endifpoolandtype %}
								{% endfor %}
							</select>
							{% if user.is_authenticated %} 
								<input type="submit" value="→ Add to pool" /> 
							{% endif %}
						</td>

					</form>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

{% ifusergroup heimdall-admin %}
<div class="inline-block" style="width:50%">
	<h2>Create a pool:</h2>
	<div class="form" style="width:100%">
		<form class="default-block"
			action="/heimdall/admin/add_group" method="post"
			accept-charset="utf-8" style="width:100%">
			{% csrf_token %}
			<table class="bordered" style="width:100%">
				<thead><tr><th colspan="2">Create a pool</th></tr></thead>
				<tbody>
					<tr>
						<td><label for="groupname">Group name</label></td>
						<td><input type="text" name="groupname" /></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Create" /></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>


<div class="inline-block" style="width:49%">
	<h2>Modify the role perimeter:</h2>
	<div class="form" style="width:100%">

		<table class="bordered" style="width:100%">
			<thead><tr><th colspan="2">Manage a pool</th></tr></thead>
			<tbody>
				{% for role in roles %}
				<tr>
					<td><label for="text">{{role.name}}</label></td>
					<td>
						<form class="default-block" action="/heimdall/admin/perimeter_pool" method="get" accept-charset="utf-8">
							{% csrf_token %} 
							<input type="hidden" value="{{role.name}}" name="poolname" />
							<button type="submit">click here for change the role perimeter</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>


{% endifusergroup %} {% endblock %}