{% extends "layout-page.html" %} {% block content %}
<section>
<h2>Installation page</h2>
<p>You can now login with:</p>
<table class="bordered" style="width:100px;">
      	<thead>
      		<tr>
				<th>Username</th>
				<th>Password</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>heimdall</td>
			<td>heimdall</td>
		</tr>
	</tbody>
</table>
<p style="color: red; font-weight:bolder;">Please note the important security risk. Change the password at your first connection.</p>
</section>
{% endblock %}