{% extends "layout-page.html" %} {% block content %} {% load tags %}

<div class="inline-block" style="width:50%">
	<h2>Members of {{poolname}}:</h2>
		<table class="bordered">
			<thead>
				<tr>
					<th>Users</th>
					{% ifusergroup heimdall-admin %}
						<th>Action</th>
					{% else %}
						{%ifpoolandtype {{poolname}} MANAGER %}
							<th>Action</th>
						{%endifpoolandtype%}
					{% endifusergroup %}
				</tr>
			</thead>

			<tbody>
				{% for member in userRoles%}
				<tr>
					<form action="/heimdall/admin/manage_role" method="post"
						accept-charset="utf-8">
						{% csrf_token%} <input type="hidden" name="type" value="remove" />
						<input type="hidden" name="username" value="{{ member.user.username }}" />
						<input type="hidden" name="poolname" value="{{ poolname }}" />
						<td style="with: 100%" class="{%if member.type == 'MANAGER'%}manager{%endif%}">{{ member.user }}</td>
					 	{% ifusergroup heimdall-admin %}
							<td>
                                                        	<input type="submit" value="Remove user">
                                                        </td>
						{% else %}	
							{%ifpoolandtype {{poolname}} MANAGER %}
								{% ifnotequal user member.user %}
									<td>
										<input type="submit" value="Remove user">
									</td>
								{% else %}
									<td>You cannot manage yourself.</td>
								{% endifnotequal %}
							{%endifpoolandtype%}
						{% endifusergroup %}
					</form>
				</tr>
				{% endfor %}
			</tbody>
			{% ifusergroup heimdall-admin %}
				<tfoot>
                                                <tr>
                                                        <form action="/heimdall/admin/manage_role" method="post"
                                                                accept-charset="utf-8">
                                                                {% csrf_token%}
                                                                <input type="hidden" name="type" value="add" />
                                                                <input type="hidden" name="poolname" value="{{ poolname }}" />
                                                                <td>
                                                                        <span class="select">
                                                                                <select name="username">
                                                                                        {% for user in users %}
                                                                                                <option>{{user.username}}</option>
                                                                                        {% endfor %}
                                                                                </select>
                                                                        </span>
                                                                </td>

                                                                <td>    
                                                                        <input type="submit" value="Add to group" />
                                                                </td>
                                                        </form> 
                                                </tr>   
                                   </tfoot>
			{% else %}
				{% ifpoolandtype {{poolname}} MANAGER %}
					<tfoot>
						<tr>
							<form action="/heimdall/admin/manage_role" method="post"
								accept-charset="utf-8">
								{% csrf_token%} 
								<input type="hidden" name="type" value="add" />
								<input type="hidden" name="poolname" value="{{ poolname }}" />
								<td>
									<span class="select">
										<select name="username"> 
											{% for user in users %}
												<option>{{user.username}}</option> 
											{% endfor %}
										</select>
									</span>
								</td>
							
								<td>
									<input type="submit" value="Add to group" />
								</td>
							</form>	
						</tr>
					</tfoot>
				{% endifpoolandtype %}
			{% endifusergroup %}
		</table>
</div>



<!-- Admins -->
{% ifusergroup heimdall-admin %}
<div class="inline-block" style="width:30%">
   <h2>Managers of group {{groupname}}:</h2>
	<table class="bordered">
		<thead>
			<tr>
				<th>User</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
				{% for username in userSpecialInPool %}
				<tr>
					<td>
						<span>{{username}}</span>
					</td>
					<td>
						 <form class="default-block" action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
						 {% csrf_token %}
						 	<input type="hidden" name="username" value="{{username}}"/>
						 	<input type="submit" name="remove" value="Remove"/>
						 	<input type="hidden" name="action" value="removemanager"/>
						 	<input type="hidden" name="poolname" value="{{poolname}}"/>
						 </form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				
					<tr>
						<form action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
						{% csrf_token %}
						<td>
							<span class="select">
								<select name="username">
									{% for users in not_special_users_in_pool %}
										<option>{{users.username}}</option>
									{% endfor %}
								</select>
							</span>
						</td>
						<td>
							<input type="submit" name="add" value="Change to manager"/>
							<input type="hidden" name="action" value="setmanager"/>
							<input type="hidden" name="poolname" value="{{poolname}}"/>
						</td>
						</form>
					</tr>
			</tfoot>
		</table>
	</form>
</div>	
{% endifusergroup %}


{% endblock %}
