{% extends "layout-page.html" %}
{% load tags %}

{% block import%}
	<script type="text/javascript">

	users = [
		{% for users_allowed in allowedusers %}
		{
			username : '{{users_allowed.username}}',
			server : '{{users_allowed.server.hostname}}',
		},
		{% endfor %}
	]

	$(document).ready(function(){
			$( "select" ).change(function() {
				var $input = $( this );
				$("#userhost").find('option').remove()
				$.each(users, function(key, value) {   
			     console.log(value.server+ "-" + $("#server").val())
			     if(value.server == $("#server").val()){
			     	$('#userhost').append($("<option value='"+value.username+"'>"+value.username+"</option>")); 
			     }
				});
			});

			// first init

			$("#userhost").find('option').remove()
				$.each(users, function(key, value) {   
			     console.log(value.server+ "-" + $("#server").val())
			     if(value.server == $("#server").val()){
			     	$('#userhost').append($("<option value='"+value.username+"'>"+value.username+"</option>")); 
			     }
				});
	});



	</script>
{% endblock %}

{% block content %}
<section>
<h2>Add a user permission:</h2>
 	<div class="inline-block" style="width:50%">
		<h3>Accept a user permission:</h3>
		<div class="align-form" style="width:100%">
	      			<table class="datagrid bordered" style="width:100%">
				      	<thead>
				      		<tr>
							<th>User</th>
							<th>Host</th>
							<th>User in host</th>
							{% if user.is_authenticated %}
								<th colspan="1">Access</th>
								<th></th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
					{% for demand in demands %}
					<tr>
						<td><span>{{ demand.user.username }}</span></td>
						<td><span>{{ demand.server.hostname }}</span></td>
						<td><span>{{ demand.hostuser }}</span></td>
						{% if user.is_authenticated %}
							<td>
								<form id="form-permission" action="/heimdall/admin/grant_access" method="post" accept-charset="utf-8">
								{% csrf_token%}									
									<input type="hidden" name="username" value="{{ demand.user.username }}"/>
									<input type="hidden" name="type" value="grant"/>
									<input type="hidden" name="hostname" value="{{ demand.server.hostname }}"/>
									<input type="hidden" name="hostuser" value="{{ demand.hostuser }}"/>
									<button class="next" type="submit">Grant access</button>
								</form>
							</td>
							<td>
								<form id="form-permission" action="/heimdall/admin/grant_access" method="post" accept-charset="utf-8">
								{% csrf_token%}									
								    <input type="hidden" name="username" value="{{ demand.user.username }}"/>
								    <input type="hidden" name="type" value="reject"/>
									<input type="hidden" name="hostname" value="{{ demand.server.hostname }}"/>
									<input type="hidden" name="hostuser" value="{{ demand.hostuser }}"/>
									<button class="delete" type="submit">Reject access</button>
								</form>
							</td>
						{% endif %}
					</tr>

					{% endfor %}
	      				</tbody>
				
					{% if demands %}
					<tfoot>					
						<tr>
							<td colspan="5">
								<form id="form-permission" action="/heimdall/admin/grant_access" method="post" accept-charset="utf-8">
								{% csrf_token %}
									<input type="hidden" value="[[ALL]]" name="username"/>
									<input type="hidden" value="[[ALL]]" name="hostname"/>
									<input type="hidden" value="[[ALL]]" name="hostuser"/>
									<button class="play" type="submit" style="width:100%;" disabled>Grant access to all</button>
								</form>
							</td>
						</tr>
					</tfoot>
					{% endif %}
	      			</table>
		</div>
	</div>

	<div class="inline-block">
		<h3>Add a permission without demand:</h3>
		<div class="form">
			<form id="form-permission-from-scratch" class="default-block" action="/heimdall/admin/grant_access" method="post" accept-charset="utf-8">
			{% csrf_token %}
				<table class="bordered">
					<thead><tr><th colspan="2">Permission properties</th></tr></thead>
					<tbody>
						<tr>
							<td>
								<label for="hostname">Hostname</label>
							</td>
							<td>
								<span class="select">					
									<select name="hostname" id="server" >
									{% for server in servers %}				
										<option value="{{server.hostname}}">{{server.hostname}}</option>
									{% endfor %}
									</select>
								</span>
							</td>
						</tr>
						<tr>				
							<td>
								<label for="username">User</label>
							</td>
							<td>
								<!--<span class="select">
									<select name="username" >
									{% for user_perm in users %}				
										<option value="{{user_perm.username}}">{{user_perm.username}}</option>
									{% endfor %}
									</select>
								</span>-->
								<input name="username" type="text"/>
							</td>
						</tr>					
						<tr>
							<td>
								<label for="hostuser">Host user</label>
							</td>
							<td>
								<span class="select">
									<select name="hostuser" id="userhost">
									{% for user_allowed in allowedusers %}				
										
											<option value="{{user_allowed}}">{{user_allowed}}</option>
										
									{% endfor %}
									</select>
								</span>
								<!--<input type="text" name="hostuser" value=""/>-->
							</td>
							<td>
								<button class="add" type="submit">Add permission</button>
							</td>
						</tr>
					</tbody>
				</table>
				<input type="hidden" name="type" value="grant"/>
			</form>
		</div>
	</div>
</section>
<section>
	<div class="inline-block" style="width:50%">
		<h2>Revoke an access</h2>
		
		<div class="align-form" style="width:100%">
	      	<table class="datagrid bordered" style="width:100%">
				<thead>
					<tr>
						<th>User</th>
						<th>Host</th>
						<th>User in host</th>
						{% if user.is_authenticated %}
							<th>Revoke access</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for permission in permissions %}
						{% ifusergroup heimdall-admin %}
							<tr>
									<td><span>{{ permission.user.username }}</span></td>
									<td><span>{{ permission.server.hostname }}</span></td>
									<td><span>{{ permission.hostuser }}</span></td>
									{% if user.is_authenticated %}
										<td>
											<form id="form-permission" action="/heimdall/admin/revoke_access" method="post" accept-charset="utf-8">
											{% csrf_token%}									
											    <input type="hidden" name="username" value="{{ permission.user.username }}"/>
												<input type="hidden" name="hostname" value="{{ permission.server.hostname }}"/>
												<input type="hidden" name="hostuser" value="{{ permission.hostuser }}"/>
												<button class="delete" type="submit">Revoke access</button>
											</form>
										</td>
									{% endif %}
								</tr>
						{% else %}
							{% ifpoolserverandtype {{permission.server.hostname}} MANAGER %}
								<tr>
									<td><span>{{ permission.user.username }}</span></td>
									<td><span>{{ permission.server.hostname }}</span></td>
									<td><span>{{ permission.hostuser }}</span></td>
									{% if user.is_authenticated %}
										<td>
											<form id="form-permission" action="/heimdall/admin/revoke_access" method="post" accept-charset="utf-8">
											{% csrf_token%}									
											    <input type="hidden" name="username" value="{{ permission.user.username }}"/>
												<input type="hidden" name="hostname" value="{{ permission.server.hostname }}"/>
												<input type="hidden" name="hostuser" value="{{ permission.hostuser }}"/>
												<button class="delete" type="submit">Revoke access</button>
											</form>
										</td>
									{% endif %}
								</tr>
							{% endifpoolserverandtype %}
						{% endifusergroup %}
					{% endfor %}
	      		</tbody>
	      	</table>
		</div>
	</div>
</section>
{% endblock %}
