{% extends "layout-page.html" %}


{% block content %}
   {% load tags %}

<div class="inline-block">
   <h2>Manage the perimeter of group {{poolname}}:</h2>
	<table class="datagrid bordered">
		<thead>
			<tr>
				<th>Serveur</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
				{% for group in perimeter %}
				<tr>
					<td>
						<span>{{group.server.hostname}}</span>
					</td>
					<td>
						 <form class="default-block" action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
						 {% csrf_token %}
						 	<input type="submit" name="remove" value="Remove"/>
						 	<input type="hidden" name="action" value="remove"/>
						 	<input type="hidden" name="poolname" value="{{poolname}}"/>
						 	<input type="hidden" name="hostname" value="{{group.server.hostname}}"/>
						 </form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<form action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
				 {% csrf_token %}
				<tfoot>
				<tr>
					<td>
						<form action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
							{% csrf_token %}
							<input type="hidden" name="action" value="add"/>
							<input type="hidden" name="poolname" value="{{poolname}}"/>
							<span class="select">
								<select name="hostname">
									{% for server in servers %}
										{% if server not in server_perimeter %}
											<option>{{server.hostname}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</span>
							<input type="submit" name="add" value="Add"/>
							</form>	
						</td>
						<td>
						</td>
					</tr>
				
				</tfoot>
			</table>
</div>	
<!-- managers -->

<div class="inline-block">
   <h2>Managers of group {{poolname}}:</h2>
	<table class="datagrid bordered">
		<thead>
			<tr>
				<th>User</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
				{% for users in managers_in_pool %}
				<tr>
					<td>
						<span>{{users.user.username}}</span>
					</td>
					<td>
						 <form class="default-block" action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
						 {% csrf_token %}
						 	<input type="submit" name="remove" value="Remove"/>
						 </form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
					<tr>
						<td>
							<form action="/heimdall/admin/perimeter_pool" method="post" accept-charset="utf-8">
								 {% csrf_token %}
								 <span class="select">
								<select name="username">
									{% for users in users_not_manager_in_pool %}
										<option>{{users.user.username}}</option>
									{% endfor %}
								</select>
							</span>
							<input type="submit" name="add" value="Change to manager"/>
								<input type="hidden" name="action" value="setmanager"/>
								<input type="hidden" name="poolname" value="{{poolname}}"/>
							 </form>
						</td>
						<td></td>
					</tr>
			</tfoot>
		</table>
	</form>
</div>	
			
{% endblock %}
