{% extends "layout-page.html" %} {% load tags%}

{% block import %}
	<script type="text/javascript">
		function showForm(user_target){
			openpopup("form-updateuser");
			$("#form-updateuser-username").val(user_target.username);
			$("#form-updateuser-firstname").val(user_target.firstname);
			$("#form-updateuser-email").val(user_target.email);
			$("#form-updateuser-lastname").val(user_target.lastname);
			
			//$("#users-updateuser").set_style("left");
			//$("#form-adduser").slideUp();
		}
		function hideForm(){
			//$("#users-updateuser").float="none";
			closepopup("form-updateuser");
			//$("#form-adduser").fadeIn();
		}
	</script> 
{% endblock %}


 {% block content %}
 
{% ifusergroup heimdall-admin %}
	{% if not myaccount %}
	<section style="width:30%;">  
	<h2>Edit an heimdall's user: </h2>
	
	   <div class="inline-block">
	      <table class="datagrid bordered">
	      	<thead>
	      		<tr>
				<th>Username</th>
				{% if user.is_authenticated %}
					<th>Action</th>
				{% endif %}
			</tr>
		</thead>
		 <tbody>
	        {% for user_target in list_users %}
	       
			<tr>
				<td>{{ user_target.username }}</td>
				{% if user.is_authenticated %}
					<td><button class="edit" onClick="showForm({username:'{{ user_target.username }}',firstname:'{{ user_target.first_name}}', email: '{{user_target.email}}',lastname:'{{ user_target.last_name}}'})">Modifier les propriétés</button></td>
				{% endif %}
			</tr>
	        
	      {% endfor %}
	      </tbody>
	      </table>
	    </div>
	 </section>
	{% else %}
	   {% for user_target in list_users %}
			<script type="text/javascript">
			 $(document).ready(function(){
				 showForm({username:'{{ user_target.username }}',firstname:'{{ user_target.first_name}}', email: '{{user_target.email}}',lastname:'{{ user_target.last_name}}'})
			 });
			</script>
		{% endfor %}
	{% endif %}
{% else %}
	
	{% for user_target in list_users %}
		<script type="text/javascript">
		 $(document).ready(function(){
			 showForm({username:'{{ user_target.username }}',firstname:'{{ user_target.first_name}}', email: '{{user_target.email}}',lastname:'{{ user_target.last_name}}'})
		 });
		</script>
	{% endfor %}
{% endifusergroup %}
<section id="form-updateuser" class="popupcontent">
<h2>Modify user account: </h2>
    <div class="inline-block">
			      <form  action="register_user" method="post" accept-charset="utf-8">
			      {% csrf_token %}
				<input type="hidden" value="update" name="type"/>
					<table class="bordered">
					      <thead>
						<tr>
						<th colspan="2">Modify a user to heimdall: </th>
						</tr>
					      </thead>
					      <tbody>
					      <tr>
						      <td>Username</td>
						      <td><input id="form-updateuser-username" name="username" readonly/></td>
					      </tr>
					      <tr>
						      <td>Firstname</td>
						      <td><input id="form-updateuser-firstname" name="firstname" type="text"/></td>
					      </tr>
					      <tr>
						      <td>Lastname</td>
						      <td><input id="form-updateuser-lastname" name="lastname" type="text"/></td>
					      </tr>
						<tr>
						      <td>E-mail</td>
						      <td><input id="form-updateuser-email" name="email"/></td>
					      </tr>
						<tr>
						      <td>Password</td>
						      <td><input type="password" name="password"/></td>
					      </tr>
						<tr>
						      <td>Password confirm</td>
						      <td><input type="password" name="password-confirm"/></td>
					      </tr>
					       <tr>
						      <td colspan="2" style="text-align:right;">
						      {% ifusergroup heimdall-admin %}
						      	<button class="delete" type="button" onClick="hideForm()">Annuler</button>
						      	<button class="save" type="submit">Valider</button>
						      {% endifusergroup %}
						      </td>
					      </tr>
					      </tbody>
				      </table>
			      </form>
			</div>
</section>



{% ifusergroup heimdall-admin %}
	{% if not myaccount %}
	<section id="form-adduser">
	<div style="width:100%; display:inline-block;">
	<div>
	<h2>Add a user on heimdall: </h2>
	<div class="inline-block">
				      <form action="register_user" method="post" accept-charset="utf-8">
				      {% csrf_token %}
						<table class="bordered">
						      <thead>
							<tr>
							<th colspan="2">Add a user to heimdall: </th>
							</tr>
						      </thead>
						      <tbody>
						      <tr>
							      <td>Username</td>
							      <td><input name="username"/></td>
						      </tr>
						      <tr>
							      <td>Firstname</td>
							      <td><input name="firstname" type="text"/></td>
						      </tr>
						      <tr>
							      <td>Lastname</td>
							      <td><input name="lastname" type="text"/></td>
						      </tr>
							<tr>
							      <td>E-mail</td>
							      <td><input name="email"/></td>
						      </tr>
							<tr>
							      <td>Password</td>
							      <td><input type="password" name="password"/></td>
						      </tr>
							<tr>
							      <td>Password confirm</td>
							      <td><input type="password" name="password-confirm"/></td>
						      </tr>
						      <tr>
							      <td>Role</td>
							      <td>
									<span class="select">
										<select name="role">
											<option value="USER">User</option>
											<option value="ADMIN">Administrator</option>
										</select>
									</span>
							      </td>
	                                       
						      </tr>
						       <tr>
							      <td colspan="2" style="text-align:right;"><button class="add">Add user</button></td>
						      </tr>
						      </tbody>
					      </table>
				      </form>
				</div>
	
	</div>
	</div>
	</section>
{% endif %}
{% endifusergroup %}
{% endblock %}
