{% extends "layout-page.html" %}

{% block content %}
<h2>Vos demandes gestionnaires en attente:</h2>
<div style="width:100%">
<div style="float:left;display: block; margin-right:20px; width:50%;">
	  <table class="rounded-corner" width="100%">
      	<thead>
      	<tr>
      	<th>date</th>
      	<th>Utilisateur</th>
      	<th>Serveur</th>
      	<th>Connection avec utilisateur</th>
      	<th>Commentaires</th>
      </tr>
      </thead>
      {%for demand in demands%}
      <tr>
      	<td>{{demand.cdate}}</td>
      	<td>{{demand.user.username}}</td>
      	<td>{{demand.server.hostname}}</td>
      	<td>{{demand.hostuser}}</td>
      	<td>{{demand.comments}}</td>
      </tr>
      {% endfor %}
      </table>
</div>
</div>
{% endblock %}
