{% extends "layout-page.html" %}


{% block import %}
	<script type="text/javascript">
		function showForm($username,$firstname,$name,$role){
			$("#form-user").slideDown();
			$("#username").val($username);
			$("#firstname").val($firstname);
			$("#lastname").val($name);
			$("#role").val($role);
		}
		function hideForm(){
			$("#form-user").slideUp();
		}
	</script> 
{% endblock %}


 {% block content %}
    {% load tags %}
 
 
 	<h2>Liste des utilisateurs enregistrés sur Heimdall</h2>
        
        <div style="width:50%;" class="inline-block">
 	<table class="datagrid bordered">
      		<thead>
      			<tr>
      				<th>Username</th>
				<th>Firstname</th>
				<th>LastName</th>
			</tr>
		</thead>
		<tbody>
		{% for a_user in list_users %}
			<tr>
				<td>{{ a_user.username }}</td>
				<td>{{ a_user.first_name }}</td>
				<td>{{ a_user.last_name }}</td>
			</tr>
        	{% endfor %}
        	</tbody>
        </table>
        
        </div>
        
      <!-- End of Content -->
 {% endblock %}
